@model KLTN_QuanLyLuuTruHoSo.Models.TU

@{
    ViewBag.Title = "SuaTu";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<link href="~/Template/css/css-list-btn.css" rel="stylesheet" />
<style>
    .css-text-fw{
        font-weight:700;
    }
</style>

<div class="container">
    <div class="text-center">
        <h3>SỬA TỦ LƯU TRỮ</h3>
    </div>
    <div style="padding-bottom:1%">
        @Html.ActionLink("< BACK", "Index", null, new { @class = "css-back" })
    </div>

@using (Html.BeginForm("XuLySuaTu", "DMLT_TuLuuTru", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.ID)
        <table class="table table-striped">
            <tr>
                <td class="css-text-fw">
                    TÊN TỦ
                </td>
                <td>
                    @Html.TextBoxFor(model => model.TENTU, new { @class = "form-control" })
                </td>
                <td class="css-text-fw">
                    SỐ NGĂN
                </td>
                <td>
                    @Html.EditorFor(model => model.SONGAN, new { @class = "form-control" })
                </td>
            </tr>
            <tr >
                <td class="css-text-fw">
                    SỐ KỆ ĐẶT
                </td>
                <td>
                    @Html.EditorFor(model => model.SLKE_DAT, new { @class = "form-control" })
                </td>
                <td class="css-text-fw">
                    SỐ KỆ HIỆN TẠI
                </td>
                <td>
                    @Html.DisplayFor(model => model.SLKE_HT, new { @class = "form-control" })
                </td>
            </tr>
            <tr>
                <td class="css-text-fw">
                    TRẠNG THÁI
                </td>
                <td>
                    @Html.RadioButtonFor(model => model.TRANGTHAI, "true") Hoạt động
                    @Html.RadioButtonFor(model => model.TRANGTHAI, "false") Không hoạt động
                </td>
                <td colspan="2">
                    <p>
                        <input type="submit" value="LƯU" class="btn btn-danger " />

                    </p>
                </td>
            </tr>
        </table>
}
</div>


