@model KLTN_QuanLyLuuTruHoSo.Models.TU

@{
    ViewBag.Title = "ThemTu";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<link href="~/Template/css/css-list-btn.css" rel="stylesheet" />

<div class="container">
    <div class="text-center">
        <<h3>THÊM TỦ LƯU TRỮ</h3>
    </div>
    <div style="padding-bottom:1%">
        @Html.ActionLink("< BACK", "Index", null, new { @class = "css-back" })
    </div>
    @using (Html.BeginForm("XuLyThemTu", "DMLT_TuLuuTru", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <fieldset>
            <table class="table table-striped">
                <tr>
                    <td style="font-weight: 700;">
                        TÊN TỦ
                    </td>
                    <td colspan="3">
                        @Html.TextBoxFor(model => model.TENTU, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.TENTU)
                    </td>

                </tr>
                <tr>
                    <td style="font-weight: 700;">
                        SỐ NGĂN
                    </td>
                    <td>
                        @Html.EditorFor(model => model.SONGAN, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.SONGAN)
                    </td>
                    <td style="font-weight: 700;">
                        SỐ KỆ ĐẶT
                    </td>
                    <td>
                        @Html.EditorFor(model => model.SLKE_DAT, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.SLKE_DAT)
                    </td>
                    <td style="font-weight: 700;">TRẠNG THÁI</td>
                    <td colspan="3" >
                        @Html.RadioButtonFor(model => model.TRANGTHAI, "true") Hoạt động
                        @Html.RadioButtonFor(model => model.TRANGTHAI, "false") Không hoạt động
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="submit" id="submit1" value="Thêm" class="btn btn-danger " />
                    </td>
                </tr>
            </table>  
        </fieldset>
    }
</div>




