@model KLTN_QuanLyLuuTruHoSo.Models.KE

@{
    ViewBag.Title = "SuaKe";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<link href="~/Template/css/css-list-btn.css" rel="stylesheet" />
<style>
    .css-text-fw {
        font-weight: 700;
    }
</style>

<div class="container">
    <div style="text-align:center">
        <h3>SỬA KỆ LƯU TRỮ</h3>
    </div>
    <div style="padding-bottom:1%">
        @Html.ActionLink("< BACK", "Index", null, new { @class = "css-back" })
    </div>

    @using (Html.BeginForm("XuLySuaKe", "DMLT_KeGia", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.ID)
        <table class="table table-striped">
            <tr>
                <td class="css-text-fw">
                    TỦ
                </td>
                <td >

                    @Html.DropDownList("ID_TU", null, new { @class = "form-control" })
                </td>
                <td class="css-text-fw">
                    TÊN KỆ
                </td>
                <td colspan="3">
                    @Html.TextBoxFor(model => model.TENKE, new { @class = "form-control" })
                </td>
               
            </tr>
            <tr>
                <td class="css-text-fw">
                    SỐ HỌP HIỆN TẠI
                </td>
                <td>

                    @Html.DisplayFor(model => model.SLHOP_HT)
                </td>
                <td class="css-text-fw">
                    SỐ HỌP ĐẶT
                </td>
                <td>
                    @Html.EditorFor(model => model.SLHOP_DAT, new { @class = "form-control" })
                </td>
                <td class="css-text-fw">
                    NGÀY KẾT THÚC
                </td>
                <td>
                    <input type="date" name="dtNgayKT" class="form-control">
                </td>
            </tr>
            <tr>
               
                <td class="css-text-fw">
                    TRẠNG THÁI
                </td>
                <td >
                    @Html.RadioButtonFor(model => model.TRANGTHAI, "true") Hoạt động
                    @Html.RadioButtonFor(model => model.TRANGTHAI, "false") Không hoạt động
                </td>
                <td colspan="4">
                    <p>
                        <input type="submit" value="LƯU" class="btn btn-danger " />

                    </p>
                </td>
            </tr>
        </table>
    }
</div>
